@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');
@import './assets/base.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background: $charcoal;
}

h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  color: $green;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 50px;
    border-bottom: 1px solid $white;
}

h1{
    font-family: "Quicksand", sans-serif;
    font-size: 72px;
    color: $white;
    font-weight: bold;
}

h3{
    font-family: 'Quicksand', sans-serif;
    color: $white;
}

.date{
    padding-top: 50px;
    padding-left: 50px;
}

.month-end{
    background-color: $green;
    width: 160px;
    padding: 5px;
    border-radius: 3px;
}

/* Household Income Styling TOP OF PAGE */
.house-income{
    background-color: $light-charcoal;
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    margin-left: 20px;
    float: left;
    display: flex;
    flex-direction: column;

    .house-income__heading{
        font-size: 36px;
        text-align: center;
        color: $green;
    }

    .house-income__members{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
        padding: 10px;

        h2{
            margin-right: 10px;
            color: $white;
            font-weight: lighter;
        }
    }

    .house-income__money{
        font-size: 36px;
    }

    .house-income_delete{
        display: flex;
        justify-content: center;
        align-items: center;

        h2{
            font-size: 36px;
        }
    }
    
}


/* Welcome Message Styling */
.welcome{
    width: 50%;
    padding: 50px;
    float: left;

    h2{
        font-weight: lighter;
    }
}

.button{
    padding: 11px 33px;
    background-color: $green;
    border-radius: 30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    border: none;
    font-size: 24px;
    top: 30px;

    &:hover{
        background-color: $white;
        transition: 0.1s ease-in-out;
    }
}


// Input Styling
input{
    padding: 10px;
    background-color: transparent;
    border: 2px solid $white;
    border-radius: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: $white;
}